/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 999;
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./hero-bcg.jpeg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#about,
#services,
#services1,
#tours {
  height: 90vh;
}
#services {
  background: var(--clr-white);
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
}
.btn1 {
text-transform: uppercase;
background: transparent;
padding: 0.375rem 0.75rem;
}
.container1 {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

#value {
  font-size: 6rem;
  font-weight: bold;
}
.nav-center2 {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav2 {
  /* background: white; */
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}
.nav-center2 h4 {
  margin-bottom: 0;
  color: hsl(205, 86%, 17%);
  cursor: pointer;
}
.nav-center2 h4:hover {
  color: hsl(205, 78%, 60%);
}

.nav-links2 {
  display: flex;
}
nav2 a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(205, 86%, 17%);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
nav2 a:hover {
  color: hsl(205, 78%, 60%);
}

.container2 {
  text-align: center;
}
.container2 h2 {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}
.color {
  color: hsl(205, 78%, 60%);
}
.btn-hero2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: black;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-hero2:hover {
  color: white;
  background: black;
}
.hexy {
  display: none;
}
#hex, #flipper {
  cursor: pointer;
}
.flippery {
  display: block;
}

/* To do list */

.wrapper{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.inner {
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 3px solid grey;
  max-width: 500px;
  max-height: 450px;
  overflow-y: auto;
  background: white;
}
.none {
    display: none !important;
}
.form {   
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}.form__textarea {
  min-height: 50px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #f5f2f2;
  overflow: auto;
  resize: none  
} 
.form__send-btn,
.form__cancel-btn {
  border: 3px solid grey;
  padding: 3px;
  border-radius: 5px;
  color: inherit;
}
.form__send-btn:active,
.form__cancel-btn:active {
  transform: scale(0.97);
}
.output {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.task {
  position: relative;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  cursor: move;
}   

@media (min-width: 800px) {
    .task.dragging {
      opacity: 0.6;
    }

}
.task__index{
  position: absolute;
  text-align: right;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}
.task__text {
  flex-grow: 1;
  padding-right: 10px;
}

.task.done {
  opacity: 0.5;
}
.task.done .task__text {
  text-decoration: line-through;
}

.task.pinned {
  border-bottom: 3px solid red;
}

/* Группа кнопок */
.task__btns {
  display: flex;
  column-gap: 5px;
}
.task__pinned svg path,
.task__done svg path {
  fill: transparent;
  stroke: #999;
}
.task__edit svg path,
.task__del svg path {
  stroke: #999;
  fill: #999;
}
.task__pinned.active svg path,
.task__pinned:active svg path {
  stroke: red;
}
.task__done.active svg path,
.task__done:active svg path {
  stroke: green;
}
.task__del:active svg path,
.task__edit:active svg path {
  stroke: #1e1e24;
  fill: #1e1e24;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; 
}
.form__title {
  display: flex;          
  align-items: center;    
  gap: 20px;              
}
#searchInput {
  flex-shrink: 1; 
  height: 30px;
  position: relative;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  padding-right: 30px;
}
.clear-btn {  
  cursor: pointer;
  position: relative; 
  right: 30px;
}
.searchLogo {
  cursor: pointer;
  position: relative;
  display: flex;
  right: 33px;
}
.searchLogo:active, .clear-btn:active{
  transform: scale(0.8);
}
.form_ToDo {
  display: flex;
  align-items:center;
  gap: 2px;  
}

@media screen and (max-width: 460px) {
/* counter */

  .container1 .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.8rem;
    width: 100%;
  }
  
  .container1 .decrease {
    grid-column: 1;
    grid-row: 1;
    padding: 0.9rem 0.5rem;
    font-size: 0.9rem;
  }
  
  .container1 .increase {
    grid-column: 2;
    grid-row: 1;
    padding: 0.9rem 0.5rem;
    font-size: 0.9rem;
  }
  
  .container1 .reset {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 0.9rem 0.5rem;
    font-size: 0.9rem;
    width: 60%;
    justify-self: center;
    margin-top: 0.5rem;
  }
  
  .container1 {
    padding: 1.5rem 1rem;
    margin: 0 0.5rem;
    max-width: 420px;
  }
  
  .container1 h1 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  
  #value {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
  
  /* Улучшенные стили кнопок для мобильных */
  .container1 .btn {
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container1 .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .container1 .btn:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }

}

@media screen and (max-width: 372px) {
 /* to do list */
  #searchInput {
    width: 110px;
  }

  .form__title {
    gap: 1px;
  }

 /* Color flipper */
  .nav-center2 {
    flex-direction: column;
  }

  #random-colors, #flipper, #hex {
    padding: 12px 18px;
    font-size: 16px;
    margin-top:10px;
  }

 .container2 {
    margin: 10px;
    padding: 12px;
    margin-top:30px;
  }

  .container2 h2 {
    font-size: 1.5rem;
  }

  .container2 #btn {
    padding: 14px;
    font-size: 18px;
  }
}



