/*@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");*/
@import url("https://fonts.googleapis.com/css?family=Onest:700,600");

@font-face {
    font-family: "Involve-Medium";
    src: url("https://anima-uploads.s3.amazonaws.com/projects/663253968e5c84998c201824/fonts/involve-medium.ttf") format("truetype");
}

@font-face {
    font-family: "Involve-SemiBold";
    src: url("https://anima-uploads.s3.amazonaws.com/projects/663253968e5c84998c201824/fonts/involve-semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Involve-Bold";
    src: url("https://anima-uploads.s3.amazonaws.com/projects/663253968e5c84998c201824/fonts/involve-bold.ttf") format("truetype");
}


:root {

    --color-medium: #009aab;
    --light-blue: #74B5BC;     /* Самый светлый синий */
    --primary-blue: #419AA4;   /* Средний синий */
    --primary-blue-40: rgba(65, 154, 164, 0.4);
    --dark-blue: #007C89;      /* Самый темный синий */
    --dark-blue-20: rgba(0, 124, 137, 0.2);
    --text-dark: #28282F;      /* Темный текст */
    --text-dark-60: rgba(40, 40, 47, 0.6);
    --text-dark-40: rgba(40, 40, 47, 0.4);

    --white: #FFFFFF;          /* Белый */
    --bg-light: #EDF4F4;       /* Светлый фон */




    --font-onest: "Onest", sans-serif;
    --font-involve: "Involve-SemiBold", "Involve-Medium", "Involve-Bold", sans-serif;

    --shadow-card: 0 20px 60px rgba(0, 0, 0, 0.08);
    --radius-lg: 20px;
    --radius-md: 16px;
    --radius-sm: 12px;
    --radius-pill: 999px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-onest);
    color: var(--text-dark);
    background-color: var(--bg-light);
}

section {
    margin: 0;
}

.page {
    min-height: 100vh;
}

.page__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.page__background-curve {
    position: absolute;
    left: 50%;
    top: 201px;
    width: 1516.5px;
    max-width: none;
    height: 625.49px;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 1;
}

@media (max-width: 1024px) {
    main {
        padding: 24px 20px 40px;
    }

    .page__background-curve {
        top: 260px;
        width: 1400px;
    }
}


.button {
    border: none;
    cursor: pointer;
    font-family: var(--font-involve);
    font-weight: 500;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: var(--radius-pill);
    transition: all 0.2s;
}


@media (max-width: 1024px) {

}

/* Main layout */

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1328px;
    margin: 0 auto;
    padding: 40px 24px 80px;
    min-height: 100vh;
}

.login {
    display: flex;
    justify-content: right;
    margin-bottom: 80px;
    margin-top: 60px;
}

.login__card {
    width: 510px;
    height: 738px;
    max-width: 100%;
    background-color: var(--white);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-card);
    padding: 40px 20px 40px;
}

.login__title {
    margin: 0 0 8px;
    font-family: var(--font-involve);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.27;
    letter-spacing: -0.02em;
    /*text-transform: uppercase;*/
    color: var(--primary-blue);
}

.login__subtitle {
    margin: 0 0 20px;
    font-family: var(--font-involve);
    font-weight: 600;
    font-size: 14px;
    color: var(--text-dark-60);
}

.login__social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px 40px;
    cursor: pointer;
}

.login__social-icon {
    width: 24px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__social-icon img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.login__social-text {
    font-family: var(--font-involve);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--text-dark-60);
}

.login__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 28px 0 12px;
}

.login__divider-line {
    flex: 1;
    height: 2px;
    background-color: var(--dark-blue-20);
}

.login__divider-text {
    font-family: var(--font-onest);
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-blue);
}

.login__form {
    display: flex;
    flex-direction: column;
    /*gap: 16px;*/
    /*margin-top: 16px;*/
}

.login__field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.login__field-label {
    font-family: var(--font-involve);
    font-weight: 600;
    font-size: 20px;
    color: var(--text-dark);
    padding-top: 24px;

}

.login__input {
    border-radius: 6px;
    border: 2px solid var(--primary-blue-40);
    padding: 10px 16px;
    font-family: 'Involve-Medium';
    font-weight: 600;
    font-size: 20px;
    color: var(--text-dark);
}

.password-toggle {
    position: absolute;
    right: 12px;
    bottom: 12px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*.login__input::placeholder {*/
/*    color: var(--text-dark-soft);*/
/*}*/

.login__submit {
    margin-top: 45px;
    width: 100%;
    height: 60px;
    border-radius: var(--radius-sm);
    border: none;
    background-color: var(--primary-blue);
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login__submit-text {
    font-family: var(--font-onest);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.login__register {
    margin: 8px 0 0;
    font-family: var(--font-involve);
    font-weight: 600;
    font-size: 20px;
    color: var(--text-dark-60);
}

.login__register-link {
    color: var(--primary-blue);
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-top: 28px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--text-dark);
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.custom-checkbox.checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007C89;
    font-weight: bold;
    font-size: 16px;
}

/* Стиль для ошибки (красное свечение) */
.custom-checkbox.error {
    border-color: #ff4444;
    box-shadow: 0 0 0 2px rgba(255, 68, 68, 0.3);
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255, 68, 68, 0.7); }
    70% { box-shadow: 0 0 0 6px rgba(255, 68, 68, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 68, 68, 0); }
}

.checkbox-text {
    color: var(--text-dark);
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
}

.policy-link {
    color: var(--color-medium);
    text-decoration: none;
}

@media (max-width: 768px) {
    .login {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .login__card {
        padding-inline: 16px;
    }
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

.login__alternative {
    text-align: center;
}

.login__alternative-icons {
    display: flex;
    gap: 28px;
}

.login__alternative-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-decoration: none;
    object-fit: contain;
}








.features-grid {
    display: flex;
    justify-content: left;
    position: relative;
}

@media (max-width:1325px) {
    .features-grid {
        display: none;
    }

    .login {
        justify-content: center;
    }
}


/* Левая колонка - 10 карточек */
.left-column {
    position: absolute;
    /*left: 80px;*/
    top: 60px;
}

.feature-card {
    position: absolute;
    border-radius: 20px;
    font-family: 'Onest';
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.card-title {
    position: absolute;
    /*text-align: center;*/
    left: 50%;
    transform: translateX(-50%);
}

/* Карточка 1: 100+ авторских материалов */
.card-1 {
    width: 403px;
    height: 158px;
    left: 0;
    top: 0;
    background: linear-gradient(98.11deg, rgba(116, 181, 188, 0.6) 1.75%, rgba(106, 166, 173, 0.6) 99.27%);
}
.card-1 .card-title {
    top: 20px;
    width: 248px;
    margin-left: -57.5px;
}

.card-1 .bg-img {
    background: url("/site/modules/medx/showcase/img/register/vector-28.png");
    position: absolute;
    width: 151px;
    height: 119px;
    top: 40px;
    right: 0;
}

/* Карточка 2: попробуй MedX бесплатно */
.card-2 {
    width: 510px;
    height: 78px;
    left: 0px;
    top: 174px;
    background: rgba(255, 255, 255, 0.8);
}
.card-2 .card-title {
    top: 20px;
    width: 450px;
    height: 38px;
    font-size: 29px;
    line-height: 38px;
    color: transparent;
    background: linear-gradient(90deg, #009AAB 0%, #007C89 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: -10px;
}

/* Карточка 3: 3000+ клинических задач */
.card-3 {
    width: 290px;
    height: 190px;
    left: 0px;
    top: 272px;
    background: linear-gradient(180deg, rgba(0, 124, 137, 0.6) 0%, rgba(4, 155, 170, 0.6) 100%);
}
.card-3 .card-title {
    top: 20px;
    width: 248px;
    margin-left: -1px;
    height: 108px;
}

/* Карточка 4: дежурства и волонтёрство */
.card-4 {
    width: 290px;
    height: 112px;
    left: 0px;
    top: 482px;
    background: linear-gradient(90deg, rgba(56, 133, 142, 0.6) 0%, rgba(65, 153, 163, 0.6) 100%);
}
.card-4 .card-title {
    top: 20px;
    width: 236px;
    margin-left: -7px;
    height: 72px;
}

/* Карточка 5: Персональные рекомендации (AI) */
.card-5 {
    width: 510px;
    height: 124px;
    left: 0px;
    top: 614px;
    background: linear-gradient(90deg, rgba(106, 166, 173, 0.6) 0%, rgba(89, 143, 148, 0.6) 100%);
}
.card-5 .card-title {
    top: 20px;
    width: 376px;
    margin-left: -47px;
    height: 72px;
}

/* Средняя колонка карточек */
.mid-column {
    position: absolute;
    left: 420px;
    top: 60px;
}

/* Карточка 6: карточки для повторения */
.card-6 {
    width: 310px;
    height: 154px;
    left: 0px;
    top: 0px;
    background: linear-gradient(103.86deg, rgba(65, 154, 164, 0.6) 0%, rgba(54, 130, 138, 0.6) 100%);
}
.card-6 .card-title {
    top: 20px;
    width: 248px;
    margin-left: -11px;
    height: 72px;
}

/* Правая колонка карточек */
.right-column {
    position: absolute;
    left: 530px;
    top: 234px;
}

/* Карточка 7: Видео-лекции */
.card-7 {
    width: 200px;
    height: 154px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(106, 166, 173, 0.6) 0%, rgba(116, 181, 188, 0.6) 100%);
}
.card-7 .card-title {
    top: 20px;
    width: 139px;
    margin-left: -10.5px;
    height: 72px;
}

/* Карточка 8: сообщества и чаты */
.card-8 {
    width: 200px;
    height: 166px;
    left: 0;
    top: 174px;
    background: linear-gradient(233.09deg, rgba(107, 168, 174, 0.6) 4.9%, rgba(89, 143, 148, 0.6) 95%);
}
.card-8 .card-title {
    top: 20px;
    width: 150px;
    margin-left: -5px;
    height: 108px;
}

/* Карточка 9: подкасты */
.card-9 {
    width: 204px;
    height: 207px;
    left: 0;
    top: 360px;
    background: linear-gradient(151.45deg, rgba(4, 153, 168, 0.6) 3.72%, rgba(1, 126, 139, 0.6) 96.19%);
}
.card-9 .card-title {
    top: 20px;
    width: 163px;
    margin-left: -0.5px;
    height: 36px;
}

.card-9 .bg-img-1 {
    background: url("/site/modules/medx/showcase/img/register/vector-27.png");
    position: absolute;
    width: 63px;
    height: 70px;
    top: 140px;
    right: -5px;
}
.card-9 .bg-img-2 {
    background: url("/site/modules/medx/showcase/img/register/vector-26.png");
    position: absolute;
    width: 103px;
    height: 125px;
    top: 85px;
    right: -5px;
}

/* Карточка 10: прогресс и рейтинг */
.card-10 {
    width: 200px;
    height: 322px;
    left: -220px; /* 380-610 */
    top: 100px; /* 452-180, но относительно right-column */
    background: linear-gradient(103.86deg, rgba(54, 130, 138, 0.6) 0%, rgba(65, 154, 164, 0.6) 100%);
}
.card-10 .card-title {
    top: 20px;
    width: 159px;
    margin-left: 0.5px;
    height: 72px;
}

.card-10 .bg-img {
    background: url("/site/modules/medx/showcase/img/register/vector-25.png");
    position: absolute;
    width: 220px;
    height: 189px;
    top: 100px;
    right: 0;
}
/* Адаптивность */
@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-5 {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

    .card-5 {
        grid-column: span 1;
    }

    .feature-card {
        font-size: 18px;
        min-height: 120px;
    }

    .section-title {
        font-size: 28px;
    }

    .cta-button {
        width: 250px;
    }
}


